.__PREFIX-active {
    outline: 2px solid #007cba;
    outline-offset: 5px;
    visibility: visible;
}

.__PREFIX-active > * {
    opacity: 0.5;
}

#__PREFIX-editor-wrapper *,
#__PREFIX-editor-wrapper *:after,
#__PREFIX-editor-wrapper *:before {
    all: unset;
    box-sizing: border-box;
}
#__PREFIX-editor-wrapper b {
    font-weight: bolder;
}
#__PREFIX-editor-wrapper > div {
    background: #898989;
    opacity: 0;
    width: 0 !important;
    border: solid 1px #ddd;
    height: 0 !important;
    border-radius: 100% !important;
    font-size: 0;
    line-height: 0;
    z-index: 0;
    word-break: unset;
}

#__PREFIX-editor-wrapper > div:before {
    /*content: "";*/
    border-radius: 100%;
    border: solid 2px #fff;
    width: 8px;
    height: 8px;
    position: absolute;
    left: calc((100% - 12px) / 2);
    top: calc((100% - 12px) / 2);
    display: inline-block;
}

#__PREFIX-editor-wrapper > div.active {
    z-index: 1000002;
    opacity: 1;
}

#__PREFIX-editor-wrapper > div.expanded {
    z-index: 1000001;
    opacity: 1;
}

#__PREFIX-editor-wrapper > div.active.expanded > .inspector {
    border-color: #a90000;
    opacity: 1;
}

#__PREFIX-editor-wrapper > div.active > .inspector {
    border-color: #a90000;
    display: block;
}

#__PREFIX-editor-wrapper > div.expanded > .inspector {
    display: block;
}

#__PREFIX-editor-wrapper > div > .inspector {
    /*transition: 0.5s cubic-bezier(0.43, 0.27, 0.21, 1.02) all;*/
    display: none;
}

#__PREFIX-editor-wrapper > div > .inspector {
    font-size: 16px;
    line-height: 20px;
    cursor: default;
    width: 300px;
    position: fixed;
    bottom: 0;
    right: 0;
    background: #ffffff;
    opacity: 0.9;
    box-shadow:  0 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 1px rgb(66 66 66 / 16%);
}

#__PREFIX-editor-wrapper > div > .inspector > .title {
    display: flex;
    padding: 0 20px;
    color: #fff;
    background-color: #000;
    font-size: 1.2em;
    align-items: center;
    height: 40px;
    font-weight: bold;
    justify-content: center;
}

#__PREFIX-editor-wrapper > div > .inspector > .description {
    color: #616161;
    font-size: 0.8em;
    display: block;
    padding: 10px 20px;
}

#__PREFIX-editor-wrapper > div.expanded > .inspector {
    display: block;
    box-sizing: border-box;
    width: 500px;
    max-width: 90vw;
}

#__PREFIX-editor-wrapper > div > .inspector > .forms {
    position: relative;
    display: none;
    padding: 0 20px 80px;
    box-sizing: border-box;
}

#__PREFIX-editor-wrapper > div > .inspector > .forms > form {
    display: block;
    width: 100%;
    max-height: calc(90vh - 60px);
    overflow: auto;
}

#__PREFIX-editor-wrapper > div.expanded > .inspector > .forms {
    display: block;
}

#__PREFIX-editor-wrapper > div.expanded > .inspector > .forms > form > .title {
    display: block;
    margin-top: 20px;
    padding-top: 16px;
    font-size: 18px;
    line-height: 1em;
    font-weight: bold;
    border-top: 1px solid #eee;
}
#__PREFIX-editor-wrapper > div.expanded > .inspector > .forms > form > .form-label {
    margin-top: 20px;
    padding-top: 16px;
    border-top: 1px solid #eee;
}
#__PREFIX-editor-wrapper > div.expanded > .inspector > .forms > form > .title:first-child  {
    margin-top: 0px;
    border-top: none;
}
#__PREFIX-editor-wrapper > div > .inspector > .forms > form > label .hint {
    color: #ff0000;
    margin-left: 10px;
    display: inline-block;
}

#__PREFIX-editor-wrapper > div > .inspector > .forms > form > label > .original {
    display: block;
}

#__PREFIX-editor-wrapper > div > .inspector > .forms > form > label {
    clear: both;
    display: block;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 1em;
}

#__PREFIX-editor-wrapper > div > .inspector > .forms > form > label > textarea[disabled] {
    background: #e2e2e2;
    color: #a6a6a6;
    border-color: #999;
    cursor: default;
}

#__PREFIX-editor-wrapper > div > .inspector > .forms > form > label > textarea {
    background: #fff;
    border: solid 1px #949494;
    font-weight: normal;
    margin-top: 0.7em;
    font-size: 0.9em !important;
    color: #393939;
    width: 100%;
    cursor: text;
    display: block;
    padding: 10px;
}

#__PREFIX-editor-wrapper > div > .inspector > .forms > form > button[type=submit] {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
    font-size: 1em;
    font-weight: bold;
    clear: both;
    background: green;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}
#__PREFIX-editor-wrapper > div > .inspector > .forms > form > button[type=submit]:hover {
    box-shadow: 0 3px 6px -3px rgb(0 0 0 / 33%);
}

#__PREFIX-editor-wrapper > div > .inspector > .forms > form > button.loading {
    color: transparent;
}

#__PREFIX-editor-wrapper > div > .inspector > .forms > form > button.loading:after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    color: #fff;
    margin: -10px 0 0 -10px;
    display: block;
    border-radius: 50%;
    border: 2px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: loader 1.2s linear infinite;
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#__PREFIX-editor-wrapper > div.expanded > .inspector > .unexpand {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: #fff;
}

#__PREFIX-editor-wrapper > div.expanded > .inspector > .unexpand:before {
    content: "\00D7";
    font-size: 1.4em;
    display: inline-block;
}
#__PREFIX-context-menu {
    display: none;
    min-width: 150px;
    position: fixed;
    z-index: 99999999999999;
    padding: 5px 0;
    background: #fff;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .4);
    font-weight: normal;
}

#__PREFIX-context-menu.shown {
    display: block;
}

#__PREFIX-context-menu a {
    display: block;
    padding: 3px 16px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    line-height: 16px;
    white-space: nowrap;
    font-size: 10.5pt;
    font-weight: normal;
    color: #333;
    cursor: default;
}

#__PREFIX-context-menu a.bold {
    font-weight: bold;
}

#__PREFIX-context-menu a.disabled {
    color: #B7B7B7;
}

#__PREFIX-context-menu a:not(.disabled):hover {
    color: #FFF;
    background-color: #1D5DF3;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5f87f8), color-stop(100%, #1d5df3));
    background-image: linear-gradient(to bottom, #5f87f8 0%, #1d5df3 100%);
}

#__PREFIX-context-menu a > img {
    float: left;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    overflow: hidden;
}

#__PREFIX-context-menu hr {
    border: 0;
    height: 1px;
    margin: 5px 1px;
    background: #EEE;
}
