#i18n-editor-wrapper [n] {
    background: #c90000;
    opacity:0.6;
    width: 10px !important;
    border: solid 1px;
    height: 10px !important;
    border-radius: 100% !important;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
    z-index: 9999999;
    word-break: unset;
}
#i18n-editor-wrapper [n]:hover{
    background:#444;
    z-index: 99999999;
    opacity:1;
}
.i18n-active{
    outline:solid 1px;
    outline-offset: 5px;
    color:#ba0000 !important;
    visibility:visible
}

.i18n-active > *{
    opacity:0.5;
}
#i18n-editor-wrapper .i18n-inspector.i18n-inspector-visible{
    display:block;
}
#i18n-editor-wrapper .i18n-inspector{
    display:none;
    padding:5px;
    border-radius:5px 0 0;
    width:300px;
    line-height:1;
    position:fixed;
    bottom:0;
    right:0;
    background:#000000ad;
}

#i18n-editor-wrapper .i18n-inspector .i18n-inspector-title{
    color:#ededed;
    font-size:12px;
    font-weight:bold;
    width:100%;
    text-align:center;
}

#i18n-editor-wrapper .i18n-inspector .i18n-inspector-description{
    color:#fff;
    font-size:14px;
    width:100%;
}

#i18n-editor-wrapper .i18n-inspector.i18n-inspector-opened {
    display:block;
    width:500px;
    height:500px
}