.__PREFIX-active {
    outline: solid 1px;
    outline-offset: 5px;
    color: #ba0000 !important;
    visibility: visible;
}

.__PREFIX-active > * {
    opacity: 0.5;
}

#__PREFIX-editor-wrapper * {
    all: unset;
}

#__PREFIX-editor-wrapper > div {
    background: #c90000;
    opacity: 0.9;
    width: 10px !important;
    border: solid 1px #ddd;
    height: 10px !important;
    border-radius: 100% !important;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
    z-index: 1000000;
    word-break: unset;
    transition: 0.3s ease all;
}

#__PREFIX-editor-wrapper > div.active {
    z-index: 1000002;
    opacity: 1;
}

#__PREFIX-editor-wrapper > div.expanded {
    z-index: 1000001;
    opacity: 1;
}

#__PREFIX-editor-wrapper > div.active.expanded > .inspector {
    border-color: #a90000;
    opacity: 1;
}

#__PREFIX-editor-wrapper > div.active > .inspector {
    border-color: #a90000;
    display: block;
}

#__PREFIX-editor-wrapper > div.expanded > .inspector {
    display: block;
}

#__PREFIX-editor-wrapper > div > .inspector {
    transition: 0.5s cubic-bezier(0.43, 0.27, 0.21, 1.02) all;
    display: none;
}

#__PREFIX-editor-wrapper > div > .inspector {
    cursor: default;
    padding: 10px;
    border-radius: 15px 0 0;
    width: 300px;
    height: 65px;
    line-height: 1;
    position: fixed;
    bottom: 0;
    right: 0;
    background: #ffffff;
    opacity: 0.9;
    box-shadow: 0 0 1px #707070;
    border-left: solid 1px;
    border-top: solid 1px;
    border-color: #9a9a9a;
}

#__PREFIX-editor-wrapper > div > .inspector > .title {
    color: #ab0000;
    font-size: 18px;
    display: block;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

#__PREFIX-editor-wrapper > div > .inspector > .description {
    color: #fff;
    background: #616161;
    font-size: 14px;
    text-align: center;
    display: block;
    padding: 10px;
    margin-top: 10px;
}

#__PREFIX-editor-wrapper > div.expanded > .inspector {
    display: block;
    box-sizing: border-box;
    width: 90%;
    height: 90%;
    min-height: 300px;
    max-width: 500px;
    max-height: 500px;
}

#__PREFIX-editor-wrapper > div > .inspector > .forms {
    display: none;
    height: calc(100% - 60px);
    padding-bottom: 40px;
    box-sizing: border-box;
    overflow: auto;
}

#__PREFIX-editor-wrapper > div > .inspector > .forms > form {
    display: inline-block;
    width: 100%;
}

#__PREFIX-editor-wrapper > div > .inspector > .forms > form.saved {
    background: #d6e6d6;
}

#__PREFIX-editor-wrapper > div.expanded > .inspector > .forms {
    display: block;
}

#__PREFIX-editor-wrapper > div.expanded > .inspector > .forms > form > .title {
    display: block;
    margin-top: 20px;
    font-size: 20px;
    line-height: 1em;
}

#__PREFIX-editor-wrapper > div > .inspector > .forms > form > label > .hint {
    display: block;
    font-size: 12px;
    color: #ff0000;
    text-align: right;
}

#__PREFIX-editor-wrapper > div > .inspector > .forms > form > label > .original {
    display: block;
    font-size: 12px;
    text-align: left;
    color: #004e00;
    margin-top: 10px;
}

#__PREFIX-editor-wrapper > div > .inspector > .forms > form > label {
    clear: both;
    display: block;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 0 0 0 20px;
    font-size: 16px;
    color: #8e0000;
    font-weight: bold;
}

#__PREFIX-editor-wrapper > div > .inspector > .forms > form > label > textarea[disabled] {
    background: #e2e2e2;
    color: #a6a6a6;
    border-color: #999;
    cursor: default;
}

#__PREFIX-editor-wrapper > div > .inspector > .forms > form > label > textarea {
    background: #fff;
    border: solid 1px #900000;
    font-weight: normal;
    margin-top: 10px;
    color: #393939;
    width: 100%;
    cursor: text;
    display: block;
    box-sizing: border-box;
    padding: 10px;
}

#__PREFIX-editor-wrapper > div > .inspector > .forms > form > input[type=submit] {
    font-size: 16px;
    clear: both;
    background: green;
    color: #fff;
    cursor: pointer;
    float: right;
    padding: 10px;
    margin-top: 20px;
}

#__PREFIX-editor-wrapper > div.expanded > .inspector > .unexpand {
    width: 20px;
    height: 20px;
    float: right;
    cursor: pointer;
    color: #474747;
}

#__PREFIX-editor-wrapper > div.expanded > .inspector > .unexpand:before {
    content: "⇲";
    font-size: 20px;
    display: inline-block;
}

#__PREFIX-editor-wrapper > div.expanded > .inspector > .unexpand:hover {
    color: #b31a1a;
}