<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /tests/i18n/tests/dynamic/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /tests/i18n/tests/dynamic/index.php [L]
</IfModule>