<?xml version="1.0"?>
<checkstyle version="1.3.0">
  <file name="component\Rest.php"/>
  <file name="models\ActiveRecord.php"/>
  <file name="component\translation\type\Text.php"/>
  <file name="component\translation\method\Google.php">
    <error line="35" severity="error" message="No summary for property $api_key" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="37" severity="error" message="No summary for property $exclusion_pattern" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="component\translation\method\Method.php">
    <error line="34" severity="error" message="No summary for property $type" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="component\Translation.php">
    <error line="45" severity="error" message="No summary for property $_languages" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="system\Component.php">
    <error line="37" severity="error" message="No summary for property $config" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="39" severity="error" message="No summary for property $context" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="component\translation\method\Dummy.php">
    <error line="33" severity="error" message="No summary for property $exclusion_pattern" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="component\translation\type\HTML.php">
    <error line="40" severity="error" message="No summary for property $type" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="42" severity="error" message="No summary for property $fields_to_translate" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="44" severity="error" message="No summary for property $_html_parser" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="45" severity="error" message="No summary for property $_to_translate" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="46" severity="error" message="No summary for property $_translations" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="Module.php"/>
  <file name="component\Languages.php"/>
  <file name="system\helpers\URL.php"/>
  <file name="component\translation\type\JSON.php">
    <error line="33" severity="error" message="No summary for property $type" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="35" severity="error" message="No summary for property $validation" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="37" severity="error" message="No summary for property $_objects" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="component\translation\Translation.php">
    <error line="40" severity="error" message="No summary for property $type" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="42" severity="error" message="No summary for property $save_translations" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="44" severity="error" message="No summary for property $validation" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="46" severity="error" message="No summary for property $exclusions" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="48" severity="error" message="No summary for property $exclusion_pattern" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="50" severity="error" message="No summary for property $_translate_original_texts" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="52" severity="error" message="No summary for property $_re_translate_original_texts" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="component\Request.php">
    <error line="41" severity="error" message="No summary for property $_translation" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="46" severity="error" message="No summary for property $_language" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="47" severity="error" message="No summary for property $_referer_language" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="55" severity="error" message="No summary for property $_referer" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="61" severity="error" message="No summary for property $_referer_source_url" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="63" severity="error" message="No summary for property $_url_translations" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="64" severity="error" message="No summary for property $_referer_translations" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="66" severity="error" message="No summary for property $editor_query_key" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="68" severity="error" message="No summary for property $editor" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="component\translation\type\Type.php"/>
  <file name="system\exception\Exception.php"/>
  <file name="system\parsers\HTML.php"/>
  <file name="component\translation\type\URL.php">
    <error line="34" severity="error" message="No summary for property $type" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="36" severity="error" message="No summary for property $path_separator" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="38" severity="error" message="No summary for property $path_lowercase" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="40" severity="error" message="No summary for property $validation" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="models\Translation.php"/>
  <file name="component\translation\method\RestMethod.php">
    <error line="35" severity="error" message="No summary for property $ssl" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="37" severity="error" message="No summary for property $remote_host" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="39" severity="error" message="No summary for property $remote_path" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="41" severity="error" message="No summary for property $api_key" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="system\helpers\DataType.php"/>
  <file name="system\parsers\html\Rule.php"/>
  <file name="system\component\DB.php">
    <error line="37" severity="error" message="No summary for property $connection" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="39" severity="error" message="No summary for property $_connection" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
</checkstyle>
